@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
    height: 100vh;
    width: 100%;
    font-family: 'Roboto', monospace;
    font-size: 1.2em;
    color: rgb(0, 0, 0);
}

body {
    width: 100%;
    display: flex;
    margin: 0;
    background-color: rgb(57, 57, 57);
    color: white;
}

header {
    width: 15%;
    min-width: 200px;
    max-width: 250px;
    height: 100vh;
    overflow-y: scroll;
    background-color: rgb(67, 66, 66);
    color: white;
}

::-webkit-scrollbar {
    width: 0px;
}

#pageHeader {
    text-align: center;
}

header nav {
    text-align: center;
    width: 100%;

}

header nav li {
    list-style: none;
    border-left: 5px solid rgb(67, 66, 66);
}

header nav li:hover {
    border-left: 5px solid red;
    cursor: pointer;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#pageNav {
    font-size: smaller;
    opacity: 0;
    animation-delay: 0s;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

header nav li {
    margin-top: 1em;
    margin-bottom: 2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

header nav li a {
    color: white;
    text-decoration: none;
    padding: 0.5em;
}

.selected {
    border-left: 5px solid rgb(255, 0, 0);
    font-weight: bold;
}

.selectedli {
    border-left: 5px solid rgb(255, 0, 0);
}

main {
    height: 100vh;
    overflow-y: scroll;
    margin: auto;
}

#graphs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1em;
    margin: auto;
}


.graphContainer {
    background-color: rgb(95, 95, 95);
    border-radius: 0.5em;
    width: 750px;
    margin: 1em;
    padding: 1em;
}

.statusBox {
    width: 250px;
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(95, 95, 95);
    border-radius: 0.5em;
    padding: 1em;
}

.statusBox:hover {
    cursor: pointer;
}

.statusBox h4 {
    width: 100%;
    margin: 0;
    margin-bottom: 1em;
    font-weight: 400;
}

.dataBox {
    min-width: 100%;
    margin-left: auto;
    margin-right: 0;
}

.dataBox p {
    margin: 0;
    margin-left: 1em;
    padding: 0;
    padding: 0.2em;
    float: right;
    text-align: right;
}


.gasCol {
    color: rgb(90, 165, 251);
}

.elecCol {
    color: rgb(41, 255, 45);
}

img {
    background-color: white;
    border-radius: 12px;
}